@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 8.9%;
    --foreground: 0 0% 90%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    text-rendering: optimizeLegibility;
    letter-spacing: -0.015em;
    font-family: 'Inter Variable', sans-serif;
  }
}

[data-rehype-pretty-code-fragment] pre {
  font-size: 13px;
}

@layer components {
  .steps h3 {
    counter-increment: step;
  }
  .steps h3:before {
    @apply absolute h-9 w-9;
    @apply flex items-center justify-center;
    @apply border-4 border-background bg-muted;
    @apply rounded-full text-center -indent-px text-xs font-normal text-muted-foreground;
    @apply ml-[-41px];
    content: counter(step);
  }
}

@layer utilities {
  .bg-card-gradient {
    background: radial-gradient(
      113.03929211915995% 100% at 50.000010106500284% -1.3322676295501878e-13%,
      #181818 0%,
      rgba(250, 250, 250, 0.5) 0.009999999747378752%,
      hsla(0, 0%, 96%, 0.81) 100%
    );
  }

  .dark .bg-card-gradient {
    background: radial-gradient(
      113.03929211915995% 100% at 50.000010106500284% -1.3322676295501878e-13%,
      #181818 0%,
      rgba(25, 25, 25, 1) 0.009999999747378752%,
      hsla(0, 0%, 6%, 0.81) 100%
    );
  }

  .bg-card-border-light {
    box-shadow: none;
  }

  .dark .bg-card-border-light {
    box-shadow: inset 1.2000000476837158px 0 #ffffff0a,
      inset -1.2000000476837158px 0 #ffffff0a, inset 0 1.2000000476837158px #ffffff1a,
      inset 0 0.6000000238418579px #ffffff1a;
  }
}
