---
title: 'Virtance created'
preheader: 'Your virtance was successfully created.'
bodyClass: bg-zinc-50
---

<x-main>
  <div class="bg-zinc-50 font-sans sm:px-4">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <div class="my-12 text-center sm:my-8">
            <a href="https://webvirt.cloud">
              <img src="images/webvirtcloud.png" width="50" alt="Maizzle" />
            </a>
          </div>

          <table class="w-full">
            <tr>
              <td
                class="rounded-xl bg-white p-12 text-base text-zinc-700 shadow-sm sm:px-6"
              >
                <h1 class="m-0 mb-6 text-2xl font-semibold text-black sm:leading-8">
                  Deployed,
                </h1>

                <p class="m-0 leading-6">
                  Your virtance <span class="font-bold underline">server-o1</span> was
                  successfully created,
                  <br />
                  <br />
                  This server was created using
                  <span class="font-bold underline">Ubuntu 22.04</span> distribution in
                  <span class="font-bold underline">Dallas</span> region.
                  <br />
                  It got a neat IP address
                  <span class="font-bold underline">192.0.0.1</span>.

                  <br />
                  <br />
                  Good luck with it.
                </p>

                <!-- <x-spacer height="24px" /> -->

                <x-divider space-y="32px" class="bg-zinc-200" />

                <p class="m-0 text-sm">
                  Thanks, <br /><br /><span class="font-semibold"
                    >The WebVirtCloud Team</span
                  >
                </p>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12">&zwj;</td>
            </tr>
            <tr>
              <td class="px-6 text-center text-xs text-zinc-600">
                <p class="cursor-default">
                  <a
                    href="https://webvirt.cloud"
                    class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]"
                    >About us</a
                  >
                  &bull;
                  <a
                    href="https://github.com/webvirtcloud"
                    class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]"
                    >Github</a
                  >
                  &bull;
                  <a
                    href="https://twitter.com/webvirtcloud"
                    class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]"
                    >Twitter</a
                  >
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
